body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(251, 245, 241, 1);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* ------------------------ */
/* ----- FIRST BLOCK ------ */
/* ------------------------ */

/* ----- HEADER ----- */

.header {
  width: 100%;
  max-width: 1000px;
  padding-top: 15px;
  margin: 0 auto;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: 'Nunito', sans-serif;
  line-height: 1, 4;
  font-size: 30px;
  font-weight: 600;
  color: rgba(239, 105, 105, 1);
}

/* ----- NAV ----- */
.nav {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  transition: color .1s linear;
}
.nav_link:hover {
  color: rgba(239, 105, 105, 1);
}

/* ----- INTRO ----- */

.subscribe_block {
  margin-top: 55px;
  width: 100%;
  max-width: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- H1 ----- */

.intro_h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  display: flex;
}

/* ----- SUBSCRIBE ----- */

.subscribe {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  margin: 40px 0 0 0;
}
.class_email {
  color: rgba(160, 160, 160, 1);
  transition: .5s;
  background: rgba(255, 255, 255, 1);
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.05);
}
.class_button {
  transition: background .5s linear;
  width: 165px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(77, 112, 246, 1);
  color: rgba(255, 255, 255, 1);
  margin: 1px 0 0 -3px;
}
.class_button:hover {
  background-color: rgba(52, 82, 206, 1);
}

/* ----- H2 ----- */

.intro_h2 {
  color: rgba(160, 160, 160, 1);
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 15px 0 0 0;
  display: flex;
}

/* ----- FIRST ILLUSTRATION ----- */

.firstillustration {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 35px 0 0 0;
}

/* ------------------------ */
/* ----- SECOND BLOCK ----- */
/* ------------------------ */

/* ----- ABOUT ----- */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_h2 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(239, 105, 105, 1);
  font-size: 14px;
  margin: 50px 0 0 0;
  display: flex;
}

.about_h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  text-align: center;
  margin: 15px 0 0 0;
  display: flex;
}

/* ----- EXAMPLE ----- */
.example {
  margin: 25px 0 0 0;
  display: flex;
}

.example_box {
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exampl_h3 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  text-align: center;
  margin: 5px 0 0 0;
  display: flex;
}

.exampl_p {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: center;
  margin: 15px 0 0 0;
  display: flex;
}

/* ----- CHANGE ----- */

.change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}
.change_box1 {
  display: flex;
  padding-right: 10px;
}
.change_box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}
.change_h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  display: flex;
}
.change_box_p {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: left;
  display: flex;
  padding: 10px 0 10px 0;
}
.class_2button {
  transition: background .5s linear;
  width: 165px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(52, 82, 206, 1);
  color: rgba(255, 255, 255, 1);
  margin: 1px 0 0 -3px;
}
.class_2button:hover {
  background-color: rgba(23, 53, 193, 1)
}

/* ------------------------ */
/* ------ THIRD BLOCK ----- */
/* ------------------------ */

/* ----- SERVISES ----- */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services_h2 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(239, 105, 105, 1);
  font-size: 14px;
  margin: 50px 0 0 0;
  display: flex;
}
.services_h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  text-align: center;
  margin: 15px 0 0 0;
  display: flex;
}

/* ----- MAINFIELDS ----- */
.mainfields {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 4;
  padding: 20px 0 0 0;
  max-width: 1200px;

}

/* -----   PRIMARY, SECONDARY ----- */

.primary-text-field {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    color: rgba(31, 31, 30, 1);
    font-size: 18px;
    display: flex;
    text-transform: uppercase;
}
.secondary-text-field {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: left;
  display: flex;
}

/*MAN*/

.fieldm {
  width: 235px;
  height: 235px;
  margin: 15px 15px 15px 15px;
  background: #F7EDE2;
  display: flex;
  justify-content: flex-end;
}
.man-illustration:hover {
  /*box-shadow: 5px 5px 5px #fff;*/
}
.descriptionm {
  display: flex;
  flex-direction: column;
  padding:30px 15px 0   0;

}
.man-illustration {
  position: absolute;
  padding: 55px 25px 0px 0px;
  justify-content:
}

/*WOMAN*/

.fieldw {
  width: 235px;
  height: 235px;
  margin: 15px 15px 15px 15px;
  background: #F7EDE2;
  /*box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s ease-in-out;*/
  display: flex;
  justify-content: flex-start;
}
.woman-illustration:hover {
  /*box-shadow: 5px 5px 5px #fff;*/
}
.descriptionw {
  display: flex;
  flex-direction: column;
  padding:30px 0 0 30px;
}
.woman-illustration {
  position: absolute;
  padding: 30px 0 0 50px;
  justify-content: flex-start;
}

/* ------------------------ */
/* ------ FOURTH BLOCK ----- */
/* ------------------------ */

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.comment_h2 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(239, 105, 105, 1);
  font-size: 14px;
  margin: 50px 0 0 0;
  display: flex;
}

.comment_h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  text-align: center;
  margin: 15px 0 0 0;
  display: flex;
}

.commentary {
  margin: 25px 0 0 0;
  display: flex;
}

.comment_box {
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment_h3 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  text-align: center;
  display: flex;
}

.comment_p {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: center;
  padding: 5px 0 10px 0;
  display: flex;
}







/* ------------------------ */
/* ------ FIFTH BLOCK ----- */
/* ------------------------ */







.programm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 100px 0;
}

.programm_box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.programm_h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  display: flex;
}
.programm_box_p {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: left;
  display: flex;
  padding: 10px 0 10px 0;
}



.toggle_money{
  display: flex;
  width: 565px;
  height: 235px;
  background: rgba(254, 253, 252, 1);
  display: flex;
  align-items: center;
}

.toggle-boxes{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex: 2;
  max-width: 365px;
}

/*------------------toggle-------------*/
.toggle_box{
  display: flex;
  justify-content: center;
  align-items: center;

padding: 15px;
}
/* Variables */
/* Switch Container */
.switch {
  position: relative;
  display: flex;
}
/* Hide the checkbox input (only needed for `:checked` property) */
.switch-input {
  display: none;
}
/* Switch */
.switch-label {
  display: block;
  width: 54px;
  height: 24px;
}
.switch-label:before,
.switch-label:after {
  content: "";
  display: block;
  position: absolute;
}
.switch-label:before {
  width: 100%;
  height: 100%;
  background-color: rgba(239, 105, 105, 1);
  border-radius: 50px;
  transition: background-color 0.25s ease;
}
.switch-label:after {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transition: left 0.25s ease;
}
/* When input is checked */
.switch-input:checked + .switch-label {
}
.switch-input:checked + .switch-label:before {
  background-color: rgba(90, 197, 114, 1);
}
.switch-input:checked + .switch-label:after {
  left: 32px;
}


/*
.checkbox{
  visibility: hidden;
}
.checkbox_group{
  position: relative;
  width: 55px;
  height: 25px;
  background-color: rgba(239, 105, 105, 1);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.checkbox_group:after {
  content: "";
  position: absolute;
}
.checkbox_label {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.checkbox_label:after{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border-color: #000;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
}
.checkbox:checked + .checkbox_label{
  left: 20px;
}
.checkbox:checked + .checkbox_label:after{
  border-color: #27ae60;
}
*/
/*-------------------------------------*/
.botton_signature {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 700;
  color: rgba(31, 31, 30, 1);
  font-size: 12px;
  display: flex;
  padding-left: 20px;
}






.money_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  width: 200px;
  height: 235px;
  margin: 15px 15px 15px 15px;
  background: rgba(255, 255, 255, 1);
  /*box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s ease-in-out;*/
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.03);

}
.block_pickm:hover {
  /*box-shadow: 5px 5px 5px #fff;*/
}


.money_counter {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    color: rgba(31, 31, 30, 1);
    font-size: 34px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.money_date {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: left;
  display: flex;
  justify-content: center;
}
.questions {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: left;
  display: flex;
  justify-content: center;
}




.call_button {
  transition: background .5s linear;
  width: 165px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(90, 197, 114, 1);
  color: rgba(255, 255, 255, 1);
  text-decoration: uppercase;
}
.call_button:hover {
  background-color: rgba(74, 163, 89, 1);
}






/* ------------------------ */
/* ------ FIFTH BLOCK ----- */
/* ------------------------ */






.ending {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.thirdillustration {
  display: flex;
  justify-content: center;
  padding-top: 80px:

}
.date {
  display: flex;
justify-content: center;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    color: rgba(160, 160, 160, 1);
    font-size: 14px;
    text-align: center;
}
